.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#banner {
  background: linear-gradient(#B76CA4, #714F91);
  min-height: 60vh;
  margin-top: 70px;
  padding: 0;
  margin-right: -15px;
}

#phoneImg {
  height: 40vw;
  min-height: 50px;
  margin-top: 3vw;
  margin-bottom: 2vw;
  margin-left: -12vw;
}

#textCol {
  margin-top: 13vw;
  color: white;
  padding-left: 10vw;
  text-align: left;
  padding-right: 12vw;
  /* height: 85vw; */
}

.storeButton {
  margin: 1vw 2vw 3vw 0;
  background-color: #B76CA4 !important;
  border: 1px solid #B76CA4 !important;
  width: 200px;
  height: 50px;
  font-size: 20px !important;
  padding: 20px;
}

.storeButton:hover {
  background-color: #714F91 !important;
  border: 1px solid	#714F91 !important;
}

#wheel {
  background: #e6e6e6;
  min-height: 60vh;
  margin-right: -15px;
  padding-top: -35px;
  /* height: 90vh; */
}

#partners {
  background: white;
  min-height: 30vh;
  margin-right: -15px;
  /* height: 90vh; */
}

#footer {
  height: 100px;
  background-color: #714F91;
  margin-right: -15px;
  margin-bottom: -5px;
  padding-bottom: 0;
}

.partnerimg {
  margin: 20px 40px 20px 0px;
  border: 2px solid rgba(192, 192, 192, 0.63);
  border-radius: 50%;
  width: 125px;
  height: auto;
}

#partnertext {
  margin: 7vw 8vw 1vw 8vw;
  color: white;
  text-align: left;
}
/* 
.social {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 5px;
  margin-right: 0;
  background-color: #B76CA4;
  color: #167CA4;
} */

.asocial {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 1vw 2vw 1vw 1vw;
  float: right;
  color: #714F91;
  fill:  #714F91;
}

#linkfooter {
  width: '450px';
  padding-top: '12px';
  margin-left: '0';
  color: '#fff';
}

#linkfooter:a {
  color: '#fff'
}

#copyfooter {
  color: "#fff"
}

h1{
  font-weight: 700 !important;
  font-size: 72px !important;
  margin-top: -60px !important;
}

#text {
  background: #e6e6e6;
  width: calc(100% + 15px)
}

.row{
  margin-right: 0 !important;
}